.navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px;
    background-color: var(--dark-bg-color);
    color: var(--dark-color);
}
.navLeft{
    display: flex;
    align-items: center;
}
.navRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navNickName{
    cursor: pointer;
    color: var(--dark-color);
}

