.navFooter{
    text-align: center;
    line-height: 30px;
    color: #b0aeae;
    font-size: 14px;
    margin-top: 20px;
    :global(.gutter) {
        margin: 0 10px;
    }

    :global(a) {
        color: #b0aeae;

        &:hover {
            color: #ed6c00;
        }
    }
}
