.logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
    margin: 0 16px;
  }
}
.content {
  // 内容区高度，不设置高度会造成左侧菜单栏很长
  height: calc(100vh - 104px);
  padding: 20px;
  overflow: auto;
  background-color: var(--dark-home-bg-color);
}
.wrapper {
  min-height: calc(100vh - 64px - 80px - 40px - 40px);
}
